In [154]:
import pandas as pd
import os
import numpy as np
import plotly.express as px
import plotly.io as pio
import polars as pl

In [155]:
data_file_path = os.getenv("EMPLOYMENT_DATA_PATH")

if data_file_path is not None:
    df = pl.read_csv(data_file_path)
else:
    print("Environment variable EMPLOYMENT_DATA_PATH is not set.")

In [156]:
len(df)

824764

In [157]:
df.head()

shape: (5, 25)
┌──────────┬─────────┬────────┬────────┬───┬─────────┬─────────┬──────────┬────────┐
│ fipstate ┆ fipscty ┆ naics  ┆ emp_nf ┆ … ┆ n1000_3 ┆ n1000_4 ┆ censtate ┆ cencty │
│ ---      ┆ ---     ┆ ---    ┆ ---    ┆   ┆ ---     ┆ ---     ┆ ---      ┆ ---    │
│ i64      ┆ i64     ┆ str    ┆ str    ┆   ┆ str     ┆ str     ┆ i64      ┆ i64    │
╞══════════╪═════════╪════════╪════════╪═══╪═════════╪═════════╪══════════╪════════╡
│ 1        ┆ 1       ┆ ------ ┆ G      ┆ … ┆ N       ┆ N       ┆ 63       ┆ 1      │
│ 1        ┆ 1       ┆ 11---- ┆ H      ┆ … ┆ N       ┆ N       ┆ 63       ┆ 1      │
│ 1        ┆ 1       ┆ 113/// ┆ G      ┆ … ┆ N       ┆ N       ┆ 63       ┆ 1      │
│ 1        ┆ 1       ┆ 22---- ┆ H      ┆ … ┆ N       ┆ N       ┆ 63       ┆ 1      │
│ 1        ┆ 1       ┆ 221/// ┆ H      ┆ … ┆ N       ┆ N       ┆ 63       ┆ 1      │
└──────────┴─────────┴────────┴────────┴───┴─────────┴─────────┴──────────┴────────┘

In [158]:
expr_exists = '["N"]' in df.to_pandas().values
print(expr_exists)

False

### Change to "N" values to official null

In [159]:
company_size_ranges = ['n<5', 'n5_9', 'n10_19', 'n20_49', 'n50_99', 'n100_249', 'n250_499', 'n500_999', 'n1000', 'n1000_1', 'n1000_2', 'n1000_3', 'n1000_4']
for c in company_size_ranges:
    df = df.with_columns(pl.when(pl.col(c) == 'N').then(None).otherwise(pl.col(c)).alias(c))

    df = df.with_columns(pl.col(c).cast(pl.Int32))
    


df.limit(3)

shape: (3, 25)
┌──────────┬─────────┬────────┬────────┬───┬─────────┬─────────┬──────────┬────────┐
│ fipstate ┆ fipscty ┆ naics  ┆ emp_nf ┆ … ┆ n1000_3 ┆ n1000_4 ┆ censtate ┆ cencty │
│ ---      ┆ ---     ┆ ---    ┆ ---    ┆   ┆ ---     ┆ ---     ┆ ---      ┆ ---    │
│ i64      ┆ i64     ┆ str    ┆ str    ┆   ┆ i32     ┆ i32     ┆ i64      ┆ i64    │
╞══════════╪═════════╪════════╪════════╪═══╪═════════╪═════════╪══════════╪════════╡
│ 1        ┆ 1       ┆ ------ ┆ G      ┆ … ┆ null    ┆ null    ┆ 63       ┆ 1      │
│ 1        ┆ 1       ┆ 11---- ┆ H      ┆ … ┆ null    ┆ null    ┆ 63       ┆ 1      │
│ 1        ┆ 1       ┆ 113/// ┆ G      ┆ … ┆ null    ┆ null    ┆ 63       ┆ 1      │
└──────────┴─────────┴────────┴────────┴───┴─────────┴─────────┴──────────┴────────┘

### Convert State Fips Code to State Name

In [160]:
path = os.getenv("FIPS_FILE_PATH")
conv_df = pl.read_csv(path, separator='\t')
conv_df = conv_df.rename({'StateFIPS': 'fipstate'})
print(len(conv_df))
conv_df = conv_df.filter(pl.col('StateName') != 'District of Columbia')
print(len(conv_df))
conv_df

3143
3142

shape: (3_142, 8)
┌──────────┬────────────┬────────────┬───────────┬────────────┬───────────┬────────────┬───────────┐
│ fipstate ┆ CountyFIPS ┆ CountyName ┆ StateName ┆ CountyFIPS ┆ StateAbbr ┆ STATE_COUN ┆ CountyCBS │
│ ---      ┆ _3         ┆ ---        ┆ ---       ┆ ---        ┆ ---       ┆ TY         ┆ A         │
│ i64      ┆ ---        ┆ str        ┆ str       ┆ i64        ┆ str       ┆ ---        ┆ ---       │
│          ┆ i64        ┆            ┆           ┆            ┆           ┆ str        ┆ i64       │
╞══════════╪════════════╪════════════╪═══════════╪════════════╪═══════════╪════════════╪═══════════╡
│ 1        ┆ 1          ┆ Autauga    ┆ Alabama   ┆ 1001       ┆ AL        ┆ AL |       ┆ 33860     │
│          ┆            ┆            ┆           ┆            ┆           ┆ AUTAUGA    ┆           │
│ 1        ┆ 3          ┆ Baldwin    ┆ Alabama   ┆ 1003       ┆ AL        ┆ AL |       ┆ 19300     │
│          ┆            ┆            ┆           ┆            ┆           ┆ BALDWIN    ┆           │
│ 1        ┆ 5          ┆ Barbour    ┆ Alabama   ┆ 1005       ┆ AL        ┆ AL |       ┆ 21640     │
│          ┆            ┆            ┆           ┆            ┆           ┆ BARBOUR    ┆           │
│ 1        ┆ 7          ┆ Bibb       ┆ Alabama   ┆ 1007       ┆ AL        ┆ AL | BIBB  ┆ 13820     │
│ …        ┆ …          ┆ …          ┆ …         ┆ …          ┆ …         ┆ …          ┆ …         │
│ 56       ┆ 39         ┆ Teton      ┆ Wyoming   ┆ 56039      ┆ WY        ┆ WY | TETON ┆ 27220     │
│ 56       ┆ 41         ┆ Uinta      ┆ Wyoming   ┆ 56041      ┆ WY        ┆ WY | UINTA ┆ 21740     │
│ 56       ┆ 43         ┆ Washakie   ┆ Wyoming   ┆ 56043      ┆ WY        ┆ WY |       ┆ null      │
│          ┆            ┆            ┆           ┆            ┆           ┆ WASHAKIE   ┆           │
│ 56       ┆ 45         ┆ Weston     ┆ Wyoming   ┆ 56045      ┆ WY        ┆ WY |       ┆ null      │
│          ┆            ┆            ┆           ┆            ┆           ┆ WESTON     ┆           │
└──────────┴────────────┴────────────┴───────────┴────────────┴───────────┴────────────┴───────────┘

# Group by State

In [161]:
state_df = df.group_by("fipstate").agg(pl.sum("emp").alias("emp"))

state_df.limit(3)

state_names = conv_df[['fipstate', 'StateAbbr', 'StateName']]

state_names = state_names.group_by('fipstate', 'StateName').agg(pl.first('StateAbbr').alias('StateAbbr')).sort('fipstate')

state_names.limit(3)

shape: (3, 3)
┌──────────┬───────────┬───────────┐
│ fipstate ┆ StateName ┆ StateAbbr │
│ ---      ┆ ---       ┆ ---       │
│ i64      ┆ str       ┆ str       │
╞══════════╪═══════════╪═══════════╡
│ 1        ┆ Alabama   ┆ AL        │
│ 2        ┆ Alaska    ┆ AK        │
│ 4        ┆ Arizona   ┆ AZ        │
└──────────┴───────────┴───────────┘

In [162]:
combined = state_df.join(other=state_names, on='fipstate', how='inner')

combined.limit(3)

shape: (3, 4)
┌──────────┬──────────┬────────────┬───────────┐
│ fipstate ┆ emp      ┆ StateName  ┆ StateAbbr │
│ ---      ┆ ---      ┆ ---        ┆ ---       │
│ i64      ┆ i64      ┆ str        ┆ str       │
╞══════════╪══════════╪════════════╪═══════════╡
│ 6        ┆ 91087226 ┆ California ┆ CA        │
│ 23       ┆ 2672548  ┆ Maine      ┆ ME        │
│ 12       ┆ 51509684 ┆ Florida    ┆ FL        │
└──────────┴──────────┴────────────┴───────────┘

# Population Data

In [163]:
data_file_path = os.getenv("POPULATION_DATA_PATH")

if data_file_path is not None:
    pop_dat = pl.read_csv(data_file_path)
else:
    print("Environment variable POPULATION_DATA_PATH is not set.")
pop_dat.limit(5)

shape: (5, 5)
┌───────────────────────────┬────────────────┬─────────────────────┬───────────────┬───────────────┐
│ table with row headers in ┆                ┆ _duplicated_0       ┆ _duplicated_1 ┆ _duplicated_2 │
│ column…                   ┆ ---            ┆ ---                 ┆ ---           ┆ ---           │
│ ---                       ┆ str            ┆ str                 ┆ str           ┆ str           │
│ str                       ┆                ┆                     ┆               ┆               │
╞═══════════════════════════╪════════════════╪═════════════════════╪═══════════════╪═══════════════╡
│ Annual Estimates of the   ┆                ┆                     ┆               ┆               │
│ Resident…                 ┆                ┆                     ┆               ┆               │
│ Geographic Area           ┆ April 1, 2020  ┆ Population Estimate ┆               ┆               │
│                           ┆ Estimates Base ┆ (as of July …       ┆               ┆               │
│                           ┆                ┆ 2020                ┆ 2021          ┆ 2022          │
│ United States             ┆ 331,449,520    ┆ 331,511,512         ┆ 332,031,554   ┆ 333,287,557   │
│ Northeast                 ┆ 57,609,156     ┆ 57,448,898          ┆ 57,259,257    ┆ 57,040,406    │
└───────────────────────────┴────────────────┴─────────────────────┴───────────────┴───────────────┘

In [164]:
pop_dat = pop_dat.transpose()
pop_dat.limit(3)

shape: (3, 66)
┌───────────┬───────────┬──────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ column_0  ┆ column_1  ┆ column_2 ┆ column_3  ┆ … ┆ column_62 ┆ column_63 ┆ column_64 ┆ column_65 │
│ ---       ┆ ---       ┆ ---      ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str       ┆ str       ┆ str      ┆ str       ┆   ┆ str       ┆ str       ┆ str       ┆ str       │
╞═══════════╪═══════════╪══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Annual    ┆ Geographi ┆          ┆ United    ┆ … ┆ Suggested ┆ Annual    ┆ Source:   ┆ Release   │
│ Estimates ┆ c Area    ┆          ┆ States    ┆   ┆ Citation: ┆ Estimates ┆ U.S.      ┆ Date:     │
│ of the    ┆           ┆          ┆           ┆   ┆           ┆ of the    ┆ Census    ┆ December  │
│ Resident… ┆           ┆          ┆           ┆   ┆           ┆ Resident… ┆ Bureau,   ┆ 2022      │
│           ┆           ┆          ┆           ┆   ┆           ┆           ┆ Popu…     ┆           │
│           ┆ April 1,  ┆          ┆ 331,449,5 ┆ … ┆           ┆           ┆           ┆           │
│           ┆ 2020      ┆          ┆ 20        ┆   ┆           ┆           ┆           ┆           │
│           ┆ Estimates ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│           ┆ Base      ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│           ┆ Populatio ┆ 2020     ┆ 331,511,5 ┆ … ┆           ┆           ┆           ┆           │
│           ┆ n         ┆          ┆ 12        ┆   ┆           ┆           ┆           ┆           │
│           ┆ Estimate  ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│           ┆ (as of    ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
│           ┆ July …    ┆          ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴───────────┴──────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [165]:
pop_dat = pop_dat.drop('column_0', 'column_1', 'column_59', 'column_61', 'column_62', 'column_63', 'column_64', 'column_65')
pop_dat = pop_dat.rename({'column_2': 'year'})
pop_dat.limit(3)

shape: (3, 58)
┌──────┬────────────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ year ┆ column_3   ┆ column_4   ┆ column_5   ┆ … ┆ column_56  ┆ column_57 ┆ column_58 ┆ column_60 │
│ ---  ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---       ┆ ---       ┆ ---       │
│ str  ┆ str        ┆ str        ┆ str        ┆   ┆ str        ┆ str       ┆ str       ┆ str       │
╞══════╪════════════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│      ┆ United     ┆ Northeast  ┆ Midwest    ┆ … ┆ .West      ┆ .Wisconsi ┆ .Wyoming  ┆ .Puerto   │
│      ┆ States     ┆            ┆            ┆   ┆ Virginia   ┆ n         ┆           ┆ Rico      │
│      ┆ 331,449,52 ┆ 57,609,156 ┆ 68,985,537 ┆ … ┆ 1,793,755  ┆ 5,893,725 ┆ 576,837   ┆ 3,285,874 │
│      ┆ 0          ┆            ┆            ┆   ┆            ┆           ┆           ┆           │
│ 2020 ┆ 331,511,51 ┆ 57,448,898 ┆ 68,961,043 ┆ … ┆ 1,791,420  ┆ 5,896,271 ┆ 577,605   ┆ 3,281,557 │
│      ┆ 2          ┆            ┆            ┆   ┆            ┆           ┆           ┆           │
└──────┴────────────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [166]:
pop_dat = pop_dat.transpose()
pop_dat.limit(3)

shape: (3, 5)
┌───────────────┬─────────────┬─────────────┬─────────────┬─────────────┐
│ column_0      ┆ column_1    ┆ column_2    ┆ column_3    ┆ column_4    │
│ ---           ┆ ---         ┆ ---         ┆ ---         ┆ ---         │
│ str           ┆ str         ┆ str         ┆ str         ┆ str         │
╞═══════════════╪═════════════╪═════════════╪═════════════╪═════════════╡
│               ┆             ┆ 2020        ┆ 2021        ┆ 2022        │
│ United States ┆ 331,449,520 ┆ 331,511,512 ┆ 332,031,554 ┆ 333,287,557 │
│ Northeast     ┆ 57,609,156  ┆ 57,448,898  ┆ 57,259,257  ┆ 57,040,406  │
└───────────────┴─────────────┴─────────────┴─────────────┴─────────────┘

In [167]:
pop_dat = pop_dat.slice(6, len(pop_dat))
pop_dat.limit(3)

shape: (3, 5)
┌──────────┬───────────┬───────────┬───────────┬───────────┐
│ column_0 ┆ column_1  ┆ column_2  ┆ column_3  ┆ column_4  │
│ ---      ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str      ┆ str       ┆ str       ┆ str       ┆ str       │
╞══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ .Alabama ┆ 5,024,356 ┆ 5,031,362 ┆ 5,049,846 ┆ 5,074,296 │
│ .Alaska  ┆ 733,378   ┆ 732,923   ┆ 734,182   ┆ 733,583   │
│ .Arizona ┆ 7,151,507 ┆ 7,179,943 ┆ 7,264,877 ┆ 7,359,197 │
└──────────┴───────────┴───────────┴───────────┴───────────┘

In [168]:
pop_dat = pop_dat.drop('column_1')\
        .rename({'column_0': 'StateName', 'column_2': 'population_2020', 'column_3': 'population_2021', 'column_4': 'population_2022'})\
        .with_columns(pl.col('StateName').str.replace('.', ''))

pop_dat.limit(3)

shape: (3, 4)
┌───────────┬─────────────────┬─────────────────┬─────────────────┐
│ StateName ┆ population_2020 ┆ population_2021 ┆ population_2022 │
│ ---       ┆ ---             ┆ ---             ┆ ---             │
│ str       ┆ str             ┆ str             ┆ str             │
╞═══════════╪═════════════════╪═════════════════╪═════════════════╡
│ Alabama   ┆ 5,031,362       ┆ 5,049,846       ┆ 5,074,296       │
│ Alaska    ┆ 732,923         ┆ 734,182         ┆ 733,583         │
│ Arizona   ┆ 7,179,943       ┆ 7,264,877       ┆ 7,359,197       │
└───────────┴─────────────────┴─────────────────┴─────────────────┘

In [169]:
pop_dat = pop_dat.with_columns(pl.col('population_2020').str.replace_all(',', '').cast(pl.Int32))\
        .with_columns(pl.col('population_2021').str.replace_all(',', '').cast(pl.Int32))\
        .with_columns(pl.col('population_2022').str.replace_all(',', '').cast(pl.Int32))

                    
pop_dat.limit(3)

shape: (3, 4)
┌───────────┬─────────────────┬─────────────────┬─────────────────┐
│ StateName ┆ population_2020 ┆ population_2021 ┆ population_2022 │
│ ---       ┆ ---             ┆ ---             ┆ ---             │
│ str       ┆ i32             ┆ i32             ┆ i32             │
╞═══════════╪═════════════════╪═════════════════╪═════════════════╡
│ Alabama   ┆ 5031362         ┆ 5049846         ┆ 5074296         │
│ Alaska    ┆ 732923          ┆ 734182          ┆ 733583          │
│ Arizona   ┆ 7179943         ┆ 7264877         ┆ 7359197         │
└───────────┴─────────────────┴─────────────────┴─────────────────┘

# Join Population, Employment, and Fips data

In [170]:
df = combined.join(other=pop_dat, how='inner', on='StateName')
df.limit(3)

shape: (3, 7)
┌──────────┬──────────┬───────────┬───────────┬─────────────────┬─────────────────┬────────────────┐
│ fipstate ┆ emp      ┆ StateName ┆ StateAbbr ┆ population_2020 ┆ population_2021 ┆ population_202 │
│ ---      ┆ ---      ┆ ---       ┆ ---       ┆ ---             ┆ ---             ┆ 2              │
│ i64      ┆ i64      ┆ str       ┆ str       ┆ i32             ┆ i32             ┆ ---            │
│          ┆          ┆           ┆           ┆                 ┆                 ┆ i32            │
╞══════════╪══════════╪═══════════╪═══════════╪═════════════════╪═════════════════╪════════════════╡
│ 1        ┆ 8876890  ┆ Alabama   ┆ AL        ┆ 5031362         ┆ 5049846         ┆ 5074296        │
│ 2        ┆ 1353372  ┆ Alaska    ┆ AK        ┆ 732923          ┆ 734182          ┆ 733583         │
│ 4        ┆ 15199279 ┆ Arizona   ┆ AZ        ┆ 7179943         ┆ 7264877         ┆ 7359197        │
└──────────┴──────────┴───────────┴───────────┴─────────────────┴─────────────────┴────────────────┘

In [171]:
df = df.with_columns(pl.col('emp').cast(pl.Int32))\
        .with_columns(emp_ratio_20 = pl.col('population_2020') / pl.col('emp'))\
        .with_columns(emp_ratio_21 = pl.col('population_2021') / pl.col('emp'))\
        .with_columns(emp_ratio_22 = pl.col('population_2022') / pl.col('emp'))
df.limit(3)

shape: (3, 10)
┌──────────┬──────────┬───────────┬───────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ fipstate ┆ emp      ┆ StateName ┆ StateAbbr ┆ … ┆ population ┆ emp_ratio ┆ emp_ratio ┆ emp_ratio │
│ ---      ┆ ---      ┆ ---       ┆ ---       ┆   ┆ _2022      ┆ _20       ┆ _21       ┆ _22       │
│ i64      ┆ i32      ┆ str       ┆ str       ┆   ┆ ---        ┆ ---       ┆ ---       ┆ ---       │
│          ┆          ┆           ┆           ┆   ┆ i32        ┆ f64       ┆ f64       ┆ f64       │
╞══════════╪══════════╪═══════════╪═══════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 8876890  ┆ Alabama   ┆ AL        ┆ … ┆ 5074296    ┆ 0.566793  ┆ 0.568876  ┆ 0.57163   │
│ 2        ┆ 1353372  ┆ Alaska    ┆ AK        ┆ … ┆ 733583     ┆ 0.541553  ┆ 0.542484  ┆ 0.542041  │
│ 4        ┆ 15199279 ┆ Arizona   ┆ AZ        ┆ … ┆ 7359197    ┆ 0.472387  ┆ 0.477975  ┆ 0.484181  │
└──────────┴──────────┴───────────┴───────────┴───┴────────────┴───────────┴───────────┴───────────┘

# Spatial Employment Map

In [172]:
pio.renderers.default = "browser"
fig = px.choropleth(df, locations="StateAbbr",
                    color="emp_ratio_22",
                    hover_name="StateAbbr",
                    locationmode='USA-states',
                    color_continuous_scale=px.colors.sequential.Oranges,
                    scope="usa")


fig.update_layout(
    title_text="Employment by State",
    geo_scope='usa'
)

fig.show()

In [173]:
data = pl.DataFrame({
    'price':[10, 15, 70],
    'num_products':[20, 17, 40]
})
data = data.with_columns(ratio = data['price'] / data['num_products'])
data

shape: (3, 3)
┌───────┬──────────────┬──────────┐
│ price ┆ num_products ┆ ratio    │
│ ---   ┆ ---          ┆ ---      │
│ i64   ┆ i64          ┆ f64      │
╞═══════╪══════════════╪══════════╡
│ 10    ┆ 20           ┆ 0.5      │
│ 15    ┆ 17           ┆ 0.882353 │
│ 70    ┆ 40           ┆ 1.75     │
└───────┴──────────────┴──────────┘