In [1]:
import pandas as pd
import os

In [2]:
data_file_path = os.getenv("EMPLOYMENT_DATA_PATH")

if data_file_path is not None:
    df = pd.read_csv(data_file_path)
else:
    print("Environment variable EMPLOYMENT_DATA_PATH is not set.")

In [3]:
df.head()

,fipstate,fipscty,naics,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,est,...,n100_249,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty
0,1,1,------,G,11510,G,99870,G,385755,867,...,10,N,N,N,N,N,N,N,63,1
1,1,1,11----,H,86,H,1206,H,4979,10,...,N,N,N,N,N,N,N,N,63,1
2,1,1,113///,G,73,H,1033,H,4210,7,...,N,N,N,N,N,N,N,N,63,1
3,1,1,22----,H,170,H,5050,H,19912,8,...,N,N,N,N,N,N,N,N,63,1
4,1,1,221///,H,170,H,5050,H,19912,8,...,N,N,N,N,N,N,N,N,63,1